.next-carouser, .prev-carouser {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* width: 15%; */
  // /* padding: 0.2; */
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  /* opacity: .5; */
  transition: opacity .15s ease;
}

.next-carouser  {
  right: 0;
}



.parent {
  display: flex;
  flex-flow: row wrap;
}

.item {
  padding: 0.2rem;
}

@media only screen and (max-width: 425px) and (orientation: landscape) {
  .item {
    width: 100%!important;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .item {
    width: 50%!important;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .item {
    width: 33.33%!important;
    padding: 0.2rem;
  }
  .item:nth-child(1)  {
    width: 66.66%!important;
  }
  .item:nth-child(2)  {
    width: 33.33%!important;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  .item {
    width: 33.33%!important;
    padding: 0.2rem;
  }
  .item:nth-child(1)  {
    width: 66.66%!important;
  }
  .item:nth-child(2)  {
    width: 33.33%!important;
  }
}

@media only screen and (max-width: 2560px) and (orientation: landscape) {
  .item {
    width: 33.33%!important;
    padding: 0.2rem;
  }
  .item:nth-child(1)  {
    width: 66.66%!important;
    .contenidoCard>.card-body{
      height: 11.2vh!important;
    }
  }
  .item:nth-child(2)  {
    width: 33.33%!important;
    .contenidoCard>.card-body{
      height: 11.2vh!important;
    }
  }
}

@media only screen and (min-width: 991px) and (orientation: portrait) {
  .item {
    width: 33.33%!important;
    padding: 0.2rem;
  }
  .item:nth-child(1)  {
    width: 66.66%!important;
  }
  .item:nth-child(2)  {
    width: 33.33%!important;
  }
}


