<div class="">
  <h1>{{ 'pages-usuarios.Tipo.AdminWord' | translate}}</h1>

  <app-globales-tablecrud
    [campoFiltro] = showcampoFiltro
    [endPoint] = endPoint
    [columnas] = columnas
    [permisosAcciones] = permisos


    (verItem) = "verData($event)"
    (crearNuevoItem) = "crearData($event)"
    (editarItem) = "editarData($event)"
    (eliminarItem) = "eliminarData($event)"
    (activarItem) = "activarData($event)"
    (asignar) = "asignarData($event)"
  >
  </app-globales-tablecrud>
</div>
