<div class="">
  <h1>{{ 'pages-usuarios.Tipo.AdminWord' | translate}}</h1>

  <app-globales-tablecrud
    [campoFiltro] = "true"
    [endPoint] = "'admin'"
    [columnas] = columnas
    [permisosAcciones] = permisos

    (verItem) = "verData($event)"
    (crearNuevoItem) = "crearData($event)"
    (editarItem) = "editarData($event)"
    (eliminarItem) = "eliminarData($event)"
    (activarItem) = "activarData($event)"
    (asignar) = "asignarData($event)"
  >
  </app-globales-tablecrud>

  <app-globales-modal-boostrap
    [tamano]="tamano"
    [scrollable]="scrollable"
    [title]="title"
    [save]="save"
    [buttonSave]="buttonSave"
    [edit]="edit"
    [buttonEdit]="buttonEdit"
    [cancel]="cancel"
    [buttonCancel]="buttonCancel"
    [componentePrecargado]="componentePrecargado"
    [cierreModal]="cierreModal"
    (actualizarTabla)="refrescarTabla()"
  >
  </app-globales-modal-boostrap>

</div>
