<div class="">

  <h1>{{ 'pages-usuarios.Title.PermissionsTitle' | translate}}</h1>


  <div class="parent">
    @for (modulos of permisos; track $index) {

      @if(modulos.permiso_nombre_permiso != 'modulo'){
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" (click)="toggleCollapse(modulos.permiso_nombre_permiso, modulos.toogle)">
                {{modulos.permiso_nombre_permiso}}
              </button>
            </h5>
          </div>
        </div>
        <div *ngIf="modulos.toogle">
          <div class="item">
            @for (subModulos of modulos.permisosSubmodulos; track $index) {
              <div class="card">
                <div class="card-header">
                  {{subModulos.nombre_permiso}}
                </div>
                <div class="card-body">
                  @for (acciones of subModulos.permisosAcciones; track $index) {
                    {{acciones.nombre_permiso}} <br>
                  }
                </div>
              </div>
            }
          </div>
        </div>
        <br>
      }
      @else{
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" (click)="toggleCollapse(modulos.permiso_nombre_permiso, modulos.toogle)">
                {{modulos.permiso_nombre_permiso}}
              </button>
            </h5>
          </div>
        </div>
        <div *ngIf="modulos.toogle">
          <div class="item">
              <div class="card">
                <div class="card-header">
                  {{ 'pages-usuarios.Title.PermissionsTitle' | translate}}
                </div>
                <div class="card-body">
                  @for (subModulos of modulos.permisosSubmodulos; track $index) {
                    {{subModulos.nombre_permiso}} <br>
                  }
                </div>
              </div>
          </div>
        </div>
      }

    }
  </div>

</div>

