<div class="">
  <h1>{{ 'pages-publicaciones.Title.pagePublicationsTitle' | translate}}</h1>
  <div class="parent">
    @if(tienePermiso('seccion')){
      <div class="item" (click)="goTo('secciones')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-publicaciones.Index.buttonSection' | translate}}
            </span>
          </div>
        </div>
      </div>
    }
    @if(tienePermiso('etiquetas')){
      <div class="item" (click)="goTo('tags')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-publicaciones.Index.buttonTags' | translate}}
            </span>
          </div>
        </div>
      </div>
    }
    @if(tienePermiso('publicacion')){
      <div class="item" (click)="goTo('publicaciones')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-publicaciones.Index.buttonMyPublications' | translate}}
            </span>
          </div>
        </div>
      </div>
    }
  </div>

</div>

