<div class="">

  <br><br><br>

  <div class="d-flex justify-content-end">
    @if(tienePermiso('ver')){
      <button class="btn btn-primary btn-sm mx-1">
        Ver
      </button>
    }
    @if(tienePermiso('activar_desactivar')){
      <button class="btn btn-primary btn-sm mx-1">
        Activar/Desactivar
      </button>
    }
    @if(tienePermiso('crear')){
      <button class="btn btn-primary btn-sm mx-1">
        Crear
      </button>
    }
    @if(tienePermiso('editar')){
      <button class="btn btn-primary btn-sm mx-1">
        Editar
      </button>
    }
    @if(tienePermiso('eliminar')){
      <button class="btn btn-primary btn-sm mx-1">
        Eliminar
      </button>
    }
    @if(tienePermiso('asignar_permisos')){
      <button class="btn btn-primary btn-sm mx-1">
        Asignar
      </button>
    }
    <button class="btn btn-primary btn-sm mx-1" (click)="limpiarSeleccion()" [disabled]="!idSeleccionado">Limpiar</button>
  </div>

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
  </table>

  <br><br><br>

</div>
