<div class="">

  <h3>{{ 'pages-principal.WordMenu' | translate }}</h3>

  <div class="parent">
    @for (item of menu; track item; let  i = $index) {
      <div class="item" (click)="goTo(item.url)" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{item.name | nombre:15}}
            </span>
          </div>
        </div>
      </div>
    }
  </div>

</div>
