$navbarPrincipal: #007bff;
$textoColor: #ffffff;

$opcionNavbarActiva: #008000;
$opcionNavbarSelect: #008000;
$fondoNavbar: #e0e0e0;

$fondoFooter: #008000;

.fondo-encabezado {
  background-color: $navbarPrincipal;
  color: $textoColor;
}

.borde-menu {
  border-left-style: solid;
}

.arrastrarSeccion1 {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;
}
.mantenerSeccion2 {
  position: sticky;
  top: 40px;
}
.arrastrarSeccion3 {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 40px;
}

/* navbar */
.menu {
  background-color: $fondoNavbar;
  color: $textoColor;
  // top: 0;
  a:hover {
    background-color: $opcionNavbarSelect;
    color: $textoColor;
  }
}

.activo {
  background-color: $opcionNavbarActiva;
  .nav-link {
    color: $textoColor
  }
  .borde-menu {
    border-left-style: inset;
  }
}
/* fin navbar */
