<div>

  <!-- Encabezado 1 -->
  <div class="fondo-encabezado">
    <div class="d-flex justify-content-between container">
      <div class="p-2 bd-highlight">
        <span class="navbar-brand">Logotipo</span>
      </div>
      <div class="p-2 bd-highlight">
        <span class="navbar-brand">Firma</span>
      </div>
    </div>
  </div>


  <!-- <a class="nav-link" routerLink="inicio">Inicio</a>
  <a class="nav-link" routerLink="publicaciones">Publicaciones</a>
  <a class="nav-link" routerLink="ingreso">Ingreso</a> -->

  <!-- As a link -->
  <div class="menu">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav">
            <li routerLinkActive="activo">
              <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <li routerLinkActive="activo">
              <a class="nav-link" routerLink="publicaciones">Publicaciones</a>
            </li>
            <li routerLinkActive="activo">
              <a class="nav-link" routerLink="ingreso">Ingreso</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="contenido">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      aqui el footer
    </div>
  </div>

</div>
