<div class="prueba">
  <!-- Encabezado 1 -->
  <div class="fondo-encabezado arrastrarSeccion1">
    <div class="d-flex justify-content-between container p-0">
      <div class="p-2 bd-highlight">
        <i class="fas fa-fw fa-tachometer-alt"></i>
      </div>
      <div class="p-2 ml-auto">
        <app-globales-idioma (cambioIdiomaEmitt)="idiomaCambiar($event)"></app-globales-idioma>
      </div>
      <div class="p-2 bd-highlight">
        <div class="sidebar-brand-text">SB Admin <sup>2</sup></div>
      </div>
    </div>
  </div>
  <!-- Navbar 1 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white topbar static-top shadow menu p-0 mantenerSeccion2">
    <marquee direction="left" class="container">
      <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis saepe dignissimos aliquid quod.
        Commodi, qui! Totam non accusantium ex itaque facere, nisi illum tenetur! Suscipit ut ipsam magni corporis!
      </div>
    </marquee>
  </nav>

  <!-- Navbar 2 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white topbar static-top shadow menu arrastrarSeccion3 p-0">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav">
          <div class="navbarPersonalizado">
            <div class="col p-1">
              <li routerLinkActive="activo">
                <a class="nav-link text-center menuIndex borde-menu" routerLink="inicio">
                  {{ 'layout-index.Start' | translate}}
                </a>
              </li>
            </div>
            <div class="col p-1">
              <li routerLinkActive="activo">
                <a class="nav-link text-center menuIndex borde-menu" routerLink="publicaciones">
                  {{ 'layout-index.Publications' | translate}}
                </a>
              </li>
            </div>
            <div class="col p-1">
              <li routerLinkActive="activo">
                <a class="nav-link text-center menuIndex borde-menu" routerLink="ingreso/user">
                  {{ 'layout-index.Login' | translate}}
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="contenido">
    <div class="container p-0">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
