$navbarPrincipal: #007bff;
$textoColor: #ffffff;

$opcionNavbarActiva: #008000;
$opcionNavbarSelect: #008000;
$fondoNavbar: #e0e0e0;

$fondoFooter: #008000;

.fondo-encabezado {
  background-color: $navbarPrincipal;
  color: $textoColor;
}

/* navbar */
.menu {
  background-color: $fondoNavbar;
  color: $textoColor;
  // position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  a:hover {
    background-color: $opcionNavbarSelect;
    color: $textoColor;
  }
}

.divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: 2.375rem;
  margin: auto 0.2rem;
}

.activo {
  background-color: $opcionNavbarActiva;
  .nav-link {
    color: $textoColor
  }
}
/* fin navbar */
