<div class="">
  <h1>{{ 'pages-usuarios.LabelTitleUserEnd' | translate}}</h1>

  <input type="text" placeholder="Buscar----">
  <button>Crear</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Activo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Javier Ricardo</td>
        <td>Baron Fuentes</td>
        <td>admin1--gmail.com</td>
        <td>Activo</td>
        <td>
          <button>Activar</button>
          <button>Ver</button>
          <button>Editar</button>
          <button>liminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Javier Ricardo</td>
        <td>Baron Fuentes</td>
        <td>admin1--gmail.com</td>
        <td>Activo</td>
        <td>
          <button>Activar</button>
          <button>Ver</button>
          <button>Editar</button>
          <button>liminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Javier Ricardo</td>
        <td>Baron Fuentes</td>
        <td>admin1--gmail.com</td>
        <td>Activo</td>
        <td>
          <button>Activar</button>
          <button>Ver</button>
          <button>Editar</button>
          <button>liminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
