<div class="">

  <h3>{{ 'pages-basico.Menu.WordMenu' | translate }}</h3>

  <!-- <app-global-loading [tiempo]="tiempoCarga"></app-global-loading> -->

  <div class="parent">

    @if(tienePermiso('usuarios')){
      <div class="item" (click)="goTo('/index-usuarios')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-basico.Menu.WordUsers' | translate}}
            </span>
          </div>
        </div>
      </div>
    }

    @if(tienePermiso('publicaciones')){
      <div class="item" (click)="goTo('/index-publicaciones')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-basico.Menu.WordPublications' | translate}}
            </span>
          </div>
        </div>
      </div>
    }

    @if(tienePermiso('modulos')){
      <div class="item" (click)="goTo('/index-modulos')" style="cursor: pointer;">
        <div class="card">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png" width="80px">
          </div>
          <div class="card-footer text-center bg-white">
            <span>
              {{ 'pages-basico.Menu.WordModule' | translate}}
            </span>
          </div>
        </div>
      </div>
    }

  </div>

</div>
